<!DOCTYPE html>
<html>

<head>
    <title>AboutPage</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/me.png"
</head>

<body>
    <div class="main-contnt">
    {{>header}}
    <p>This site was Created by Venoth Anand<br></p>
    <img class="portrait" src="/img/me.jpeg" alt="image not displayed">
    <p>It uses data from darksky.net and mapbox.com</p>
    </div>
    {{>footer}}
</body>

</html>