<!DOCTYPE html>
<html>
<head>
    <title>
        HelpPage
    </title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img src="/img/help.png" alt="image not displayed">
    </div>
    {{>footer}}

</body>

</html>